<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.OfficeDiaryport.admin.teaapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchers"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launchers_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme2">
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".FirstActivity"
            android:theme="@style/AppTheme2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userActivity"
            android:theme="@style/AppTheme2">

        </activity>
        <activity android:name=".UserRegistActivity"
            android:theme="@style/AppTheme2">

        </activity>
    </application>

</manifest>